*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

!gradle/**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
fixtures/local_fixtures
.settings/
.classpath
.project

build.xml
**/application.yaml
**/FindNotInGit.java
/target/
log/
.gradle/
gradle.properties
*.log

/fixtures/out
*.db
.picasa.ini

/build/
node_modules
gradle.properties
/bin/
/whl/
/fixtures_out/
Vagrantfile
.vagrant/

_site/
