@mixin my {
	.v-caption-uploadwrapper {
		display: none;
	}
	.v-horizontallayout-pager .v-button {
		height: 0px;
	}
	
	.v-slot-dyn-menu .v-margin-top {
		padding-top: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-left {
		padding-left: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-right {
		padding-right: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-bottom {
		padding-bottom: 37px;
	}
	.page .v-button {
		height: 0px;
	}
	.table-controller {
	  border-bottom: 1px solid #dfdfdf;
	}
	.display-none {
		display: none;
	}
	
	.margin-ten {
		margin: 10px;
	}
	
	.margin-top-ten {
		margin-top: 10px;
	}
	
	.margin-left-ten {
		margin-left: 10px;
	}
	
	.margin-bottom-ten {
		margin-bottom: 10px;
	}
	
	.margin-right-ten {
		margin-right: 10px;
	}
	
	.margin-twenty {
		margin: 20px;
	}
	
	.margin-top-twenty {
		margin-top: 20px;
	}
	
	.margin-left-twenty {
		margin-left: 20px;
	}
	
	.margin-bottom-twenty {
		margin-bottom: 20px;
	}
	
	.margin-right-twenty {
		margin-right: 20px;
	}
	
	.twin-col-select-horizonal .v-select-twincol-buttons {
		display: inline-block;
		vertical-align: top;
	}
	
	.overflow-auto {
		overflow: auto;
	}
	
}