@mixin my {
	.v-caption-uploadwrapper {
		display: none;
	}
	.v-horizontallayout-pager .v-button {
		height: 0px;
	}
	
	.v-slot-dyn-menu .v-margin-top {
		padding-top: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-left {
		padding-left: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-right {
		padding-right: 37px;
	}
	
	.v-slot-dyn-menu .v-margin-bottom {
		padding-bottom: 37px;
	}
}